<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Register Buttons</title>
</head>
<body>
  <div style="text-align: center; margin-top: 100px;">
    Welcome to the MVC Lecture
    <br />
    <label for="name">Enter book name:</label>
    <input type="text" id="name" required>
  <br>

  <button onclick="submitForm()">Submit</button>
  </div>

  <script>
    function submitForm() {
      const name = document.getElementById('name').value;

      const data = {
        name: name
      }

      document.getElementById('name').value = '';
    }
  </script>
</body>
</html>
